* {
  box-sizing: border-box;
  font-family: Helvetica;
}

html, body {
  height: 100%;
  margin: 0;
  background: #EBF4F7;
}

body {
  font-size: 30px;
  /* padding: 50px 0 0 0; */
}

a {
  color: black;
}

#menu {
  width: 100%;
  height: 50px;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 100;
  mix-blend-mode: difference;
}

.source {
  z-index: 200;
  position: absolute;
  padding-right: 20px;
  top: 0;
  right: 0;
  height: 50px;
}

.source h3{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  margin: 0;
  font-size: 1em;
  /* letter-spacing: -1.1px; */
  font-weight: 100;
  cursor: pointer;
  mix-blend-mode: difference;
}

.grey {
  background: #EBF4F7;
}

.yellow {
  background:rgb(255, 212, 18);
}

.blue {
  background: #1A2A40;
}

.light-blue {
  background: #2474A6;
}

.red {
  background: rgb(255, 12, 45);
}